{% extends "base/base.html" %}

{% block title %}chat | {{name_room}} {% endblock title %}

{% block extra_style %}
	<link rel="stylesheet" href="{{url_for('static', filename='css/uikit.min.css')}}">
	<link rel="stylesheet" href="{{url_for('static', filename='css/retro_chat.css')}}">
{% endblock extra_style %}

{% block content %}
<div id="chatroom" data-room="{{name_room}}" data-username="{{username}}">
	<div class="uk-container">
		<p id="notification-message" style="height: 30px;">
        </p>
    </div>
    <!-- char-area -->
   	
   	{% include 'chat/retro_chat.html' %}
    
    <!-- char-area -->

</div>

{% endblock content %}


{% block script %}
	<script src="https://cdn.socket.io/4.7.5/socket.io.min.js"></script>
	<script src="{{url_for('static', filename='js/uikit.min.js')}}"></script>
	<script src="{{url_for('static', filename='js/uikit-icons.min.js')}}"></script>
	<script src="{{url_for('static', filename='js/chat/retro_chat.js')}}"></script>
{% endblock script %}
