{% extends "base/base.html" %}

{% block extra_style %}
	<link rel="stylesheet" href="{{url_for('static', filename='css/style_index.css')}}">
{% endblock extra_style %}

{% block content %}

<div class="window-container">
    <header class="window-header">
    	<button class="menu-toggle" id="menuBtn">MENU ☰</button>
        <div class="window-controls">
            <span class="dot"></span>
            <span class="dot"></span>
            <span class="dot"></span>
        </div>

        <div class="window-title">Chat-R00ms</div>        
    </header>

    <div class="toolbar">
    </div>

    <div class="main-layout">
        <aside class="sidebar" id="sidebar">
            <div class="sidebar-header mobile-only" id="siderbar-nav">
                <strong>NAVEGACIÓN</strong>
                <button class="close-btn" id="closeBtn">×</button>
            </div>

            <div class="channel-group">
                <div class="nav-item active-parent">
                    <span class="collapse-icon">-</span> 📂 Canales
                </div>
                <ul class="channel-list" id="channel-list">
                    <li class="active-channel"># {{room}} <span class="badge total-members" data-room="{{room}}" id="channel-livingroom">0</span></li>
                </ul>
            </div>
        </aside>

        <div class="sidebar-overlay" id="overlay"></div>

        <main class="content-area">
            <header class="content-header">
                <strong># {{room}} </strong>
                <div class="channel-meta">Miembros: [<span class="total-members">0</span>]</div>
            </header>

            <div class="form-container">
                <h2>entrar|crear sala</h2>
                <form id="form" action="{{url_for('chat.index')}}" method="POST">
                    <div class="input-group">
                        <label for="username">Nombre de usuario</label>
                        <input type="text" placeholder="Tu nombre aquí..." id="username" name="username" required>

                        {% if user %}

						{% with %}
							{% set is_valid_username = user.is_valid_username %}
							{% set room = user.room %}
							{% set username = user.username %}

						    {% if not is_valid_username %}
						    <div class="alert-overlay" id="alertOverlay">
	                            <div class="retro-alert">
	                                <header class="alert-header">
	                                    <span>SISTEMA - ERROR</span>
	                                    <button class="alert-close" onclick="closeAlert()">×</button>
	                                </header>
	                                <div class="alert-body">
	                                    <div class="alert-icon">!</div>
	                                    <p id="alertMessage">
	                                    	Ya existe un usuario en la sala <b>{{room}}</b> con ese nombre: <b>{{username}}</b>
	                                    </p>
	                                </div>
	                                <footer class="alert-footer">
	                                    <button class="retro-btn alert-btn" onclick="closeAlert()">ACEPTAR</button>
	                                </footer>
	                            </div>
	                        </div>
							{% endif %}
						{% endwith %}
							
						{% endif %}
                    </div>
                    <div class="input-group">
                        <label for="nameChatroom">Nombre de la sala</label>
                        <input type="text" placeholder="Elige o crea una nueva sala..." id="nameChatroom" name="nameChatroom" required>
                    </div>
                    <button type="submit" class="retro-btn" id="form-button" disabled>Entrar</button>
                </form>
            </div>
        </main>
    </div>
</div>

{% endblock content %}

{% block script %}
	<script src="https://cdn.socket.io/4.7.5/socket.io.min.js"></script>
	<script src="{{url_for('static', filename='js/chat/livingroom.js')}}"></script>
{% endblock script %}
